.card-img{
    /* TRANSFORMER EN VRAI CARTE YUGIHO */
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(237, 215, 215, 0.2);
    /* padding: 20px; */
    margin:20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}